- if time_track.errors.any?
  $('#errors').html("#{j (render 'errors', time_track: time_track)}")
- else
  $('#formModal').modal('hide');
  $('#table').html("#{j (render 'list', time_tracks: current_user.is_admin? ? TimeTrack.all : current_user.time_tracks )}")
