<p id="notice"><%= notice %></p>


<br>
<br>
<div id="filters" style="margin: 20px;">
  <%= render "filters" %>
</div>

<div class="container" style="text-align: right; padding-right: 10px;">
  <%= link_to "New Time Track", new_time_track_path, remote:true, class: "btn btn-primary" %>
  <div id="table" style="padding-top: 20px;">
    <%= render "list", time_tracks: @time_tracks %>
  </div>
</div>

